body {
  text-align: center;
  background-color: #1a1a1a;
  color: white;
}

.bg-blue {
background-color: #1A0076;
}

a.buttonstart {
  align-items: center;
  border: 5px solid #d8456f;
  background-color: #d8456f;
  border-radius: 32px;
  color: black;
  text-decoration: none;
}


.bienvenue {
  text-align: center;
  color: #ff2ff1;
  font-family: "Kavoon", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.528px;
}
h1 {
  text-align: center;
  color: #fff;
  font-family: "Kaisei Decol", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 60px */
  letter-spacing: -0.88px;
}
h2 {
  text-align: center;
  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 60px */
  letter-spacing: -0.88px;
}
.box image {
  width: 793px;
  height: 423px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 16px;
  background: #0023a1;
}
img {
  height: 385px;
  width: 793px
  border: 5px solid #0023a1;
  border-radius: 15px;
}
.boxtextecontexte {
    width: 793px;
  margin-left: auto;
  margin-right: auto;
  height: 262px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #0023a1;
  text-align: center;
  max-width: 100%;
  border-radius: 16px;
  background: #0023a1;
  width: 579px;
  height: 300px;
  color: #fff;
  font-family: "Instrument Serif", serif;
  font-size: 20px;
}
.firstbox { width: 579px;
height: 262px;  
  margin-left: auto;
  margin-right: auto;
  
  flex-shrink: 0;
  border-radius: 16px;
  background: #0023a1;


}
.choicebox {
width: px;
height: 70px;
border-radius: 16px;
background: #0023A1;
color: #FFF;
font-family: "Instrument Serif";
font-size: 20px;
font-weight: 400;
line-height: 150%;
margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: ;
 

}
a {
text-decoration: none;
display: inline-block ;
margin: 20px;
}
.choicebox:hover{ background-color: #001359;
  
}
.buttonstart:hover{
background-color: #A8294D;
}
.texte-final {
font-size: 50px;
color: #FFF;
font-family: "Instrument Serif";
 margin-left: auto;
  margin-right: auto;
}